body {
    background-image: url("https://i.ibb.co/7vJ9d7w/Bear-Watcher-BG.jpg"); 
}

.btn-warning {
    margin: 1rem;
}

.add-section {
    margin-top: 1rem;
}

.btn-link, .fas-tree {
    color: forestgreen;
    font-size: 70%;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: .5rem;
}

.bear-section {
    margin-top: 1rem;
}

.fishing-tries {
    margin: 1rem;
}